/* style.css */
body{
	background: rgb(245,245,245);
	color: green;
	font-size: 25px;
	font-family: Helvetica;
   }
   h1{
	font-family: Courier;
	color: red;
	font-weight: lighter;
	font-size: 30px;
   }
   h2 {
	font-family: Courier;
	color: blue;
	font-weight: lighter;
	font-size: 20px;
   }
   a {
	color: yellow;
   }
   a:hover {
	text-decoration: none;
	color: purple;
   }
   #banner{
	text-align: center;
	background-image: url("images/cervecería.jpg");
	background-size: cover;
	padding: 150px;
	color: white;
   }
   #banner h1 {
	color: white;
	font-size: 50px;
   }
   #banner p {
	color: white;
	opacity: 0.8;
	font-size: 30px;
	font-weight: lighter;
   }
   #footer{
	padding: 30px;
	background: rgb(30, 30, 30);
	color: lightgrey;
   }
   .tarjeta{
	font-weight: lighter;
   }
   .tarjeta h2{
	text-align: center;
   }
   .tarjeta ul{
	text-align: left;
   }
   #footer a {
	color: lightgrey;
	font-size: 25px;
   }
   #footer a:hover {
	color: white;
   }