body {
	background-image: url("images/fondo2.png");
	color: rgb(30, 30, 30);
	font-size: 25px;
	font-family: Helvetica;
	background-size: cover;
}

a {
	color: yellow;
}

a:hover {
	text-decoration: none;
	color: purple;
}

#banner {
	text-align: center;
	background-image: url("images/cervecería.jpg");
	background-size: cover;
	padding: 150px;
	color: white;
	text-shadow: 1px 1px 5px black;
}
#menu {
	padding-top: 3%;
}

#banner h1 {
	color: white;
	font-size: 50px;
}

#banner p {
	color: white;
	opacity: 0.8;
	font-size: 30px;
	font-weight: lighter;
}

#footer {
	background: rgb(243, 117, 49);
 	color: lightgrey;
    opacity: 0.8;
	text-justify: auto;
	padding-top: 3%;
}

#footer a {
	color: lightgrey;
	font-size: 25px;
}

#footer a:hover {
	color: white;
}

.grid-container {
	display: grid;
	grid-template-columns: auto auto auto;
	background-color: #2196F3;
	padding: 10px;
  }
  .grid-item {
	background-color: rgba(255, 255, 255, 0.8);
	border: 1px solid rgba(0, 0, 0, 0.8);
	padding: 20px;
	font-size: 30px;
	text-align: center;
  }